@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
  header nav form {
    width: 40%;
  }
}
@media (min-width: 992px) {
  header nav form {
    width: 35%;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes typing {
  from {width: 0}
  50% {width: 100%;}
  to {width: 100%;}
}
@keyframes blink-caret {
  from, to {border-color:  transparent;}
  50% {border-color: orange;}
}

.visible {
  animation: slideIn 0.8s ease-in-out;
}
body {
  background: url("../images/bg.webp") no-repeat center center fixed;
  background-size: cover;
}
aside {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
  animation: fadeIn 1.2s ease-in-out;
}
h1 {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  color: yellow;
  padding-right: .15em;
  border-right: .1em solid orange;
  animation: typing 3s alternate steps(40, end) infinite ,blink-caret 1.2s ease-in-out infinite;
}
#contents .card {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.6);
}
#contents .card-img-top:hover {
  transform: scale(1.2);
  transition: transform .2s ease-in-out;
}
.img-wrapper {
  overflow: hidden;
}
.expand {
  width: 30%;
  transition: all 0.3s ease;
}
.expand:focus {
  width: 100%;
}
#playground {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.3);
  cursor: url("../images/cursor.png") 50 55, pointer;
}
#playground .container {
  height: 100%;
}
#main-field {
  border: 1px dotted yellow;
  flex: 1;
  position: relative;
}
#circle {
  /* Absolute so bad cant even use click event >:( */
  position: absolute;
  z-index: 1; 
  top: 30%;
  left: 30%;
  height: 4em;
  width: 4em;
  background-color: skyblue;
  border: 1px solid blue;
}
#inner-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  top: 50%;
  left: 50%;
  margin: -1.5em 0 0 -1.5em;
  border: 1px solid blue;
}
#circle-effect {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  height: 4em;
  width: 4em;
  border: 3px solid skyblue;
  opacity: 0.8;
}
#circle-number {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
